<!-- Footer -->
<link rel="stylesheet" href="/css/footer.css">

<footer id="footer-id" class="page-footer font-small teal pt-4">
<hr>
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <div id="advices-div-id" class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h4 class="text-uppercase font-weight-bold">True advices</h4>
        "Avoid The Left-Hand Death Grip" | "Rehearse Standing Up And Sitting Down"
        <br>
        "No Need For Speed" | "Always Use Correct Fingering"
        <br>
        "Silent Rehearsing" | "Use A Metronome!"
        <br>
        "Don’t Shy Away From Difficult Chords" | "Don’t Forget Your Right Hand Practice"
        <br>
        "Be Disciplined With Your Practice" | "Give Yourself A Break and Listen to Music"

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div id="quotes-div-id" class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h4 id="music-quotes" class="text-uppercase font-weight-bold">Music quotes</h4>
        “Where words fail, music speaks.” ― Hans Christian Andersen.
        <br>
        “Music is the universal language of mankind.” ― Henry Wadsworth Longfellow.
        <br>
        “Music is the strongest form of magic.” ― Marilyn Manson.
        <br>
        “Music can change the world because it can change people.” ― Bono.
        <br>
        “A great song should lift your heart, warm the soul and make you feel good.” ― Colbie Caillat.
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div id="footer-div-id" class="footer-copyright text-center py-3">© 2020 
    <a id="copy-link" href="https://vk.com/mike_sivak"> Mike Sivak</a>. All rights reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->