{{!-- <link rel="stylesheet" href="/css/header.css"> --}}

{{!-- <header id="main-header"> --}}
    <link rel="stylesheet" href="/css/header.css">
    <nav id="header-id" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#"><i class="fa fa-guitar" style="margin:0 10px;"></i>Guitar Shop</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:5000">Home</a></li>
                    <li><a href="/content">Guitars</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="profile" href="#">
                        {{#if profile}}
                            {{profile}}
                        {{/if}}
                        </a>
                    </li>
                    <li><a href="http://localhost:5000/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="http://localhost:5000/auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>

        </div>
    </nav>
{{!-- </header> --}}