#footer-id{
    background-color: rgb(20, 33, 41);
    height: 100%;
}
.container-fluid{
    background-color: rgb(20, 33, 41);
}
#footer-div-id{
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-size: 15px;
}

#copy-link{
    color: rgb(82, 249, 255);
}

#quotes-div-id{
    color:white;
}

#advices-div-id{
    color:white;
}