#div-form{
    text-align:center;
}

#user-form{
    border-radius:10px;
    margin:0px auto;
    padding-top:30px;
    background-color: rgb(20, 33, 41);
    width:400px;
    height:320px;
}

#enter-label{
    font-size:28px;
    font-family:calibri;
    color: white;
}

#email-field{
    border-style:none;
    text-align:center;
    height:35px;
    width: 200px;
    border-radius:3px;
    margin-top: 30px;
}

#password-field{
    border-style:none;
    text-align:center;
    height:35px;
    width: 200px;
    border-radius:3px;
    margin-top: 20px;
}
  
#send-butt{
    border-style:none;
    width:80px;
    height:30px;
    margin-top:10px;
    background-color:darkcyan;
    border-radius:8px;
    margin-top: 60px;
    color: black;
}