<link rel="stylesheet" href="/css/addGuitar.css" />

<body>
	<div id="div-form">
		<form id="add-form" method="POST" action="/guitars/add">
			<label id="action-label">Add new guitar to shop</label>
			<br>
			<input type="text" id="manuf-field" name="manuf" placeholder="Manufacturer" />
			<br>
			<input type="text" id="model-field" name="model" placeholder="Model" />
			<br>
			<input type="text" id="gbody-field" name="gbody" placeholder="Body type" />
			<br>
			<input type="text" id="quantity-field" name="quantity" placeholder="Quantity" />
			<br>
			<input type="text" id="price-field" name="price" placeholder="Price" />
			<br>
			<textarea id="descript" placeholder="Description" name="descript"
				title="Description"></textarea>
			<br>
			<input name="load_pic" type="file" class="custom-file-input">
			<input type="submit" id="send-butt" value="Add" />
		</form>
	</div>
</body>