<link rel="stylesheet" href="/css/home.css">

{{!-- {{>admin_panel}} --}}
<div class="home-page-content-div">
    <div class="home-page-div">
        <h1 id="home-page-title">Home Page</h1>
    </div>
    <img id="img-guitar" src="/images/guitars.jpg" />
</div>