<link rel="stylesheet" href="/css/login.css"/>
<body>
	<div id="div-form">
	  	<form id="user-form" method="POST" action="/auth/login">
	    	<label id="enter-label">Sign in to Guitar Shop</label>
                <br>
	    	<input type="email" id="email-field" name="email" placeholder="Email"/>
                <br>
	    	<input type="password" id="password-field" name="password" placeholder="Password"/>
                <br>
	    	<input type="submit" id="send-butt" value="Sign In"/>
	  	</form>	
	</div>
</body>