<link rel="stylesheet" href="/css/registration.css"/>
<body>
	<div id="div-form">
	  	<form id="user-form" method="POST" action="">
	    	<label id="enter-label">Sign Up for Guitar Shop</label>
                <br>
	    	<input type="text" id="email-field" name="email" placeholder="Email"/>
                <br>
	    	<input type="password" id="password-field" name="password" placeholder="Password"/>
			    <br>
			<input type="text" id="first-name-field" name="fname" placeholder="First name"/>
			    <br>
			<input type="text" id="last-name-field" name="lname" placeholder="Last name"/>
			    <br>
			<input type="text" id="phone-field" name="phone" placeholder="Phone"/>
			    <br>
	    	<input type="submit" id="send-butt" value="Sign in"/>
	  	</form>	
	</div>
</body>